<div class="left-panel">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Profile")">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Gallery")">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Friends")">Friends</a>
        </li>
        <li class="nav-item">
            <a id="messagesLink" class="nav-link" href="@Url.Action("Index", "Messages")">Messages</a>
        </li>
        <li class="nav-item">
            <form asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
    </ul>
</div>

